* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #121212;
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
}

.header {
    display: grid;
    grid-template-columns: 10px 40px 1fr 50px 50px 50px 10px;
    height: 40px;
    background-color: #212121;
}

.header > .title {
    -webkit-app-region: drag;
}

.header > .icon {
    height: 40px !important;
    text-align: center;
    overflow: hidden;
}

.header > .icon > img {
    height: inherit;
}

.header > .title {
    padding-left: 15px;
}

.header > .title > p {
    line-height: 40px;
    color: #626262;
    font-size: 24px;
}

.header > .btn {
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    transition: all .3s ease-in-out;
}

.header > .btn:hover {
    font-size: 18px;
    background-color: #252525;
}

.header > .btn > i {
    height: 100%;
    width: 100%;

    color: #fff;
}